# groupby

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [3]:
plt.figure(figsize=(20, 8), dpi=80)

# 分组,一图多线
#resample降采样，按月统计,索引必须是时间类型，类似groupby
for group_name, group_data in df.groupby(by="cate"):
    # 对不同的分类都进行绘图
    count_by_month = group_data.resample("MS").count()["title"]  #降采样
    print(count_by_month)
    # 画图
    _x = count_by_month.index
    print(_x)
    _y = count_by_month.values #values是对应事故发生次数

    _x = [i.strftime("%Y%m%d") for i in _x]  #变年月日格式

    plt.plot(_x, _y, label=group_name)

plt.xticks(range(len(_x)), _x, rotation=45)
plt.legend(loc="best")
plt.show()

NameError: name 'df' is not defined

# merge

In [5]:
df_obj1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                        'data1' : np.random.randint(0,10,7)})
df_obj2 = pd.DataFrame({'key': ['a', 'b' ,'d'],
                        'data2' : np.random.randint(0,10,3)})

print(df_obj1)
print('-'*50)
print(df_obj2)

  key  data1
0   b      3
1   b      8
2   a      5
3   c      0
4   a      7
5   a      6
6   b      5
--------------------------------------------------
  key  data2
0   a      1
1   b      2
2   d      9

In [6]:
#默认连接使用相同的列名，连接方式是内连接
pd.merge(df_obj1, df_obj2)

  key  data1  data2
0   b      3      2
1   b      8      2
2   a      5      1
3   a      7      1
4   a      6      1
5   b      5      2

In [7]:
#左df和右df都拿索引连接
pd.merge(df_obj1, df_obj2,left_index=True,right_index=True)

  key_x  data1 key_y  data2
0     b      3     a      1
1     b      8     b      2
2     a      5     d      9

In [8]:
#左表和右表都拿key列来连接
pd.merge(df_obj1, df_obj2, on='key')

  key  data1  data2
0   b      3      2
1   b      8      2
2   a      5      1
3   a      7      1
4   a      6      1
5   b      5      2

In [9]:
# 更改列名
df_obj1 = df_obj1.rename(columns={'key':'key1'})
df_obj2 = df_obj2.rename(columns={'key':'key2'})

In [10]:
df_obj1

  key1  data1
0    b      3
1    b      8
2    a      5
3    c      0
4    a      7
5    a      6
6    b      5

In [11]:
df_obj2

  key2  data2
0    a      1
1    b      2
2    d      9

In [12]:
#左表以key1来连接，右表以key2来连接
pd.merge(df_obj1, df_obj2, left_on='key1', right_on='key2')

  key1  data1 key2  data2
0    b      3    b      2
1    b      8    b      2
2    a      5    a      1
3    a      7    a      1
4    a      6    a      1
5    b      5    b      2

In [13]:
#全外连接
pd.merge(df_obj1, df_obj2, left_on='key1', right_on='key2', how='outer')  #全外连接

  key1  data1 key2  data2
0    a    5.0    a    1.0
1    a    7.0    a    1.0
2    a    6.0    a    1.0
3    b    3.0    b    2.0
4    b    8.0    b    2.0
5    b    5.0    b    2.0
6    c    0.0  NaN    NaN
7  NaN    NaN    d    9.0

In [14]:
#left join 等价于 left  join
pd.merge(df_obj1, df_obj2, left_on='key1', right_on='key2', how='left')

  key1  data1 key2  data2
0    b      3    b    2.0
1    b      8    b    2.0
2    a      5    a    1.0
3    c      0  NaN    NaN
4    a      7    a    1.0
5    a      6    a    1.0
6    b      5    b    2.0

In [15]:
# right等价于数据库的right join
pd.merge(df_obj1, df_obj2, left_on='key1', right_on='key2', how='right')

  key1  data1 key2  data2
0    a    5.0    a      1
1    a    7.0    a      1
2    a    6.0    a      1
3    b    3.0    b      2
4    b    8.0    b      2
5    b    5.0    b      2
6  NaN    NaN    d      9

In [16]:
# 处理重复列名
df_obj1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                        'data' : np.random.randint(0,10,7)})
df_obj2 = pd.DataFrame({'key': ['a', 'b', 'd'],
                        'data' : np.random.randint(0,10,3)})
#给相同的数据列添加后缀
print(pd.merge(df_obj1, df_obj2, on='key', suffixes=('_left', '_right')))

  key  data_left  data_right
0   b          2           8
1   b          1           8
2   a          3           2
3   a          9           2
4   a          4           2
5   b          6           8

In [17]:
# 按索引连接
df_obj1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                        'data1' : np.random.randint(0,10,7)})
df_obj2 = pd.DataFrame({'data2' : np.random.randint(0,10,3)}, index=['a', 'b', 'd'])
print(df_obj1)
print(df_obj2)

  key  data1
0   b      0
1   b      1
2   a      2
3   c      2
4   a      8
5   a      7
6   b      7
   data2
a      7
b      1
d      2

In [18]:
print(pd.merge(df_obj1, df_obj2, left_on='key', right_index=True))

  key  data1  data2
0   b      0      1
1   b      1      1
2   a      2      7
4   a      8      7
5   a      7      7
6   b      7      1

In [19]:
pd.merge(df_obj2,df_obj1, left_index=True, right_on='key')

   data2 key  data1
2      7   a      2
4      7   a      8
5      7   a      7
0      1   b      0
1      1   b      1
6      1   b      7

In [20]:
df_obj = pd.DataFrame({'data1' : ['a'] * 4 + ['b'] * 4,
                       'data2' : np.random.randint(0, 4, 8)})
print(df_obj)

  data1  data2
0     a      0
1     a      3
2     a      0
3     a      0
4     b      2
5     b      0
6     b      2
7     b      1

 ## 处理重复数据

In [21]:
df_obj = pd.DataFrame({'data1' : ['a'] * 4 + ['b'] * 4,
                       'data2' : np.random.randint(0, 4, 8)})
print(df_obj)

  data1  data2
0     a      0
1     a      3
2     a      2
3     a      3
4     b      0
5     b      0
6     b      0
7     b      3

In [22]:
print(df_obj.duplicated())

0    False
1    False
2    False
3     True
4    False
5     True
6     True
7    False
dtype: bool

In [23]:
df_obj[~df_obj.duplicated()]  #取出不重复行

  data1  data2
0     a      0
1     a      3
2     a      2
4     b      0
7     b      3

In [24]:
#按照某一列去重
print(df_obj.duplicated('data2'))

0    False
1    False
2    False
3     True
4     True
5     True
6     True
7     True
dtype: bool

In [25]:
df_obj1 = pd.DataFrame({'data1' :[np.nan] * 4,
                       'data2' :list('1235')})
df_obj1

   data1 data2
0    NaN     1
1    NaN     2
2    NaN     3
3    NaN     5

In [26]:
#在pd的duplicated认为空值和空值相等的
df_obj1.duplicated('data1')
# print(df_obj1.drop_duplicates('data1'))

0    False
1     True
2     True
3     True
dtype: bool

In [27]:
print(df_obj.drop_duplicates())  #删除重复行
# print(df_obj.drop_duplicates('data2'))

  data1  data2
0     a      0
1     a      3
2     a      2
4     b      0
7     b      3

In [28]:
#如果要在原有的df上去重，需要加inplace=True
df_obj

  data1  data2
0     a      0
1     a      3
2     a      2
3     a      3
4     b      0
5     b      0
6     b      0
7     b      3

In [29]:
#map与applymap一样，但是map只能用于series，applymap只能用于df
ser_obj = pd.Series(np.random.randint(0, 10, 10))  #series 用map
print(ser_obj)

0    8
1    7
2    9
3    5
4    9
5    7
6    0
7    7
8    0
9    7
dtype: int32

In [30]:
#异常值手动替换
ser_obj=pd.Series(np.arange(10),index=range(3,13))
# 单个值替换单个值
print(ser_obj.replace(1, -100))
print('-' * 20)
# 多个值替换一个值
print(ser_obj.replace(range(6,9), -100))
print('-' * 20)
# 多个值替换多个值
print(ser_obj.replace([4, 7], [-100, -200]))

3       0
4    -100
5       2
6       3
7       4
8       5
9       6
10      7
11      8
12      9
dtype: int64
--------------------
3       0
4       1
5       2
6       3
7       4
8       5
9    -100
10   -100
11   -100
12      9
dtype: int64
--------------------
3       0
4       1
5       2
6       3
7    -100
8       5
9       6
10   -200
11      8
12      9
dtype: int64